<section class="col-md-offset-3 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>{{profile.user.username}}</h4>
    </div>
    <article class="panel-body">
      Passwort ändern:
      <div class="form-group">
        <label for="passwordChange"></label>
        <input class="form-control" id="passwordChange" ng-model="profile.newPassword" placeholder="new Password" type="text">
        <p class="help-block">Bitte gebe dein neues Passwort ein</p>
      </div>
      <button class="btn btn-default" ng-click="profile.changePassword(profile.newPassword)" type="button">
        Änderung speichern
      </button>
    </article>
  </div>
</section>
<div class="col-md-offset-4 col-md-4">
  <div class="row">
    <!-- Messages anhand der logik-->
    <div class="alert alert-danger text-center fx-fade-up" ng-show="profile.error == 401">
      Falsche Eingabe -</br>
    bitte nochmal versuchen
  </div>
  <div class="alert alert-danger text-center fx-fade-up" ng-show="profile.error !== undefined && login.errorStatus !== 401">
    Server antwortet nicht -</br>
  bitte versuche es später noch einmal
</div>
</div>
</div>
