<!--<h2>topicOverview</h2>
<p>{{topicOverview.ctrlName}}</p>

<ul>
  <li ng-repeat="topic in topicOverview.topics">
      {{topic.topicName}}
  </li>
</ul>
-->

<!-- Main -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
<!-- Left column -->
      <a class="primary" href="#">
        <strong>
          Dashboard
        </strong>
      </a>

      <hr>

      <ul class="nav nav-stacked">
        <li class="nav-header">
          <a data-target="#userMenu" data-toggle="collapse" href="#">Kursübersicht</a>
          <ul class="nav nav-stacked collapse in" id="userMenu">
            <li class="active">
              <a href="#">
                Home</a>
            </li>
            <li>
              <a href="#">
                Profil
              </a>
            </li>
            <li>
              <a href="#">
                Logout</a>
            </li>
          </ul>
        </li>

      </div>
<!-- /col-3 -->
      <div class="col-sm-9">

<!-- column 2 -->

        <div class="col-md-3" ng-repeat="topic in topicOverview.topics">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>{{topic.topicName}}</h4>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <a class="list-group-item" href="#">Mehr Informationen</a>
                <a class="list-group-item" href="#">Modulübersicht</a>
                <a class="list-group-item" href="#">Start</a>
              </div>
            </div>
          </div>
        </div>
