.ace_editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 600px;
}
.aceWarning {
  border-bottom: 1px solid red;
  position: absolute;
  cursor: pointer !important;
  pointer-events: auto;
}
body {
  overflow: hidden;
}
