<div class="container-fluid">
  <div class="row-fluid">
    <!-- Ace Editor siehe uiComponents-->
    <section class="col-sm-9">

      <ul class="nav nav-tabs">
        <li class="{{tab.active}}" ng-repeat="tab in exerciseWorksheet.aceTabs">
          <a ng-click="exerciseWorksheet.selectOne($index)">{{tab.title}}
            <span class="glyphicon glyphicon-remove" ng-click="exerciseWorksheet.deleteTab($index)"></span>
          </a>
        </li>
        <li>
          <a ng-click="exerciseWorksheet.addTab()">
            <span class="glyphicon-plus"></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" ng-repeat="tab in exerciseWorksheet.aceTabs" ng-show="tab.visible">
          <div ng-change="exerciseWorksheet.acechange($index)" ng-model="exerciseWorksheet.aceTabs[$index].content" ui-ace="exerciseWorksheet.aceOptions">{{tab.content}}</div>
        </div>
      </div>

    </section>

    <aside class="col-sm-3">
      <!-- Aufgabenstellung + Hints + Output + Navigation -->
      <nav class="row">
        <button class=" btn btn-primary " name="weiter" type="button">
          weiter
        </button>
        <button class="btn pull-right" name="zurück" type="button">
          zurück
        </button>
      </nav>
      <hr>
      <section class="row">
        <h4>
          Aufgabenstellung</h4>
        <section>
          {{worksheet.task.content}}
        </section>
        <hr>
        <section class="row">
          <h4>Hints</h4>
          <section>
            <ul>
              <li ng-repeat="hint in worksheet.task.hints">{{hint}}</li>
            </ul>
          </section>
          <hr>
        </aside>
      </div>
    </div>

    <div class="col-md-offset-4 col-md-4">
      <div class="row">
        <!-- Messages anhand der logik-->
        <div class="alert alert-danger text-center fx-fade-up" ng-show="worksheet.error">
          Server antwortet nicht -</br>
        bitte versuche es später noch einmal</div>
    </div>
  </div>
