<nav-bar></nav-bar>
<div class="container">
  <p><br/></p>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="page-header">
            <h3>Login</h3>
          </div>
          <form role="form">
            <div class="form-group">
              <label for="inputKennung">FH Kennung</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input class="form-control" id="inputKennung" placeholder="Kennung eingeben" type="text"
                ng-model="login.userData.kennung">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword">Passwort</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-star"></span>
                </span>
                <input class="form-control" id="inputPassword" placeholder="Password" type="password"
                ng-model="login.userData.passwort">
              </div>
            </div>
            <hr/>
            <button class="btn btn-success" type="submit" ng-click="login.attemptLogin(login.userData)">
              <span class="glyphicon glyphicon-lock"></span>
              login</button>
            <button class="btn btn-warning" type="button">
              <span class="glyphicon glyphicon-arrow-left"></span>
              zurücksetzen</button>

            <p><br/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
