<!-- Siehe uiComponents nav-bar-directive -->
<nav-bar></nav-bar>
<!-- Main -->
<div class="container">
  <p><br/></p>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="page-header text-center">
            <h3>Login</h3>
          </div>
          <form role="form">
            <div class="form-group">
              <label for="inputKennung">FH Kennung</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input class="form-control" id="inputKennung" ng-model="login.userData.kennung" placeholder="Kennung eingeben" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword">Passwort</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-star"></span>
                </span>
                <input class="form-control" id="inputPassword" ng-model="login.userData.passwort" placeholder="Password" type="password">
              </div>
            </div>
            <hr/>
            <div class="text-center">
              <a ng-link="home" ><button class="btn btn-success " ng-click="login.attemptLogin(login.userData)" type="submit">
                <span class="glyphicon glyphicon-lock"></span>
                login</button></a>
            </div>
            <p><br/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main -->
