<p>
  <br/>
  <br/>
</p>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <!-- Titel -->
      <div class="page-header text-center">
        <h3>Login</h3>
      </div>
      <form class="panel-body myform" name="loginScreen" role="form">
        <!-- KennungFeld -->
        <section class="form-group">
          <label for="inputKennung">FH Kennung</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input class="form-control" id="inputKennung" name="inputKennung" ng-model="login.userData.username" placeholder="Kennung eingeben" required type="text">
          </div>
        </section>
        <!-- PasswortFeld -->
        <section class="form-group">
          <label for="inputPassword">Passwort</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-star"></span>
            </span>
            <input class="form-control" id="inputPassword" name="inputPassword" ng-model="login.userData.password" placeholder="Password" required type="password">
          </div>
        </section>
        <!-- Trenner  -->
        <hr/>
        <div class="text-center">
          <button class="btn btn-success " ng-click="login.attemptLogin(login.userData)">
            <span class="glyphicon glyphicon-lock"></span>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-offset-4 col-md-4">
  <div class="row">
    <!-- Messages anhand der logik-->
    <div class="alert alert-danger text-center" ng-show="login.errorStatus == 401">
      Falsche Eingabe -</br>
      bitte nochmal versuchen</div>
    <div class="alert alert-danger text-center" ng-show="login.errorStatus !== undefined && login.errorStatus !== 401">
      Server antwortet nicht -</br>
      bitte versuche es später noch einmal</div>
